# Server Configuration
PORT=5001
NODE_ENV=test

API_URL = https://web-test.kindercare.app/api/v1

# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_password_here
DB_NAME=kindercare_db
DB_PORT=3306

# DigitalOcean Spaces Config
DO_SPACE_ENDPOINT=https://sgp1.digitaloceanspaces.com
DO_SPACE_KEY=your_space_access_key
DO_SPACE_SECRET=your_space_secret_key
DO_SPACE_BUCKET=your_space_bucket_name

# (Optional) Custom CDN or Custom Domain URL
DO_SPACE_CDN_URL=https://kindercare-media.sgp1.cdn.digitaloceanspaces.com